{
  "parser": "babel-eslint",
  "parserOptions":{
    "ecmaFeatures": {
      "jsx":true
    }
  },
  "env": {
    "browser": true
  },
  "plugins": ["react","import"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "google",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  rules: {
    "require-jsdoc": "off",
    "max-len": ["error", 120],
    "comma-dangle": "off",
    "linebreak-style": "off"
  }
}