#wrapper{
    display: flex;
    justify-content: center;
}

body {
    background-color: azure;
}

.red{
    color: red;
}

.green{
    color: #306d08;
}

.reverse-list{
    display: flex;
    flex-direction: column-reverse;
}

.center{
    display: flex;
    justify-content: center;
}
